@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poiret One", sans-serif;
}

.shopName {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
}

.icon:hover {
  transform: rotateY(180deg);
}
